
*.py[cod]                
__pycache__/              
*.so                      


*.log                     
db.sqlite3                
*.pot                     
*.pyc                     


venv/                      
ENV/                       
.env                       


.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

